<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/afb998b443.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="">
        <div class="row no-gutter">
            <div class="navigation col-2 pt-4 border-right border-light">
                <img src="/img/dashlite-logo.png" class="ml-4">
                <ul>
                    <li><a href="/dashboard"></i> <i class="far fa-clipboard mr-2"></i> dashboard</a></li>
                    <li><a href="/orders"> <i class="fas fa-shopping-bag mr-2"></i> orders</a></li>
                    <li><a href="/products"> <i class="fas fa-box mr-2"></i> products</a></li>
                    <li><a href="/customers"> <i class="fas fa-user mr-2"></i> customers</a></li>
                    <li><a href="/support"> <i class="far fa-comment-alt mr-2"></i> supports</a></li>
                    <li><a href="/settings"> <i class="fas fa-sliders-h mr-2"></i> settings</a></li>
                </ul>
            </div>
            <div class="col-10">
                <div class="d-flex justify-content-between nav-header p-3 border border-top-0 border-light bg-white">
                    <div>
                        <i class="fa fa-search pl-5 pt-2"></i>
                        <input class="border-0 ml-5" placeholder="search anyhting"></input>
                    </div>
                    <div class="d-flex nav-header-right">
                        <a href="" class="text-secondary"><i class="far fa-comment-alt fa-lg mr-4 mt-3"></i></a>
                        <a href="" class="text-secondary"><i class="far fa-bell fa-lg mr-4 mt-3"></i></a>
                        <a href="" class=" mt-2"><span class=" border-primary customer-initial mr-4">
                                <i class="fa fa-user fa-lg pl-1"></i>
                            </span></a>
                        <a href="">
                            <div class="d-flex flex-column">
                                <small class="purple">Desiree Edwards</small>
                                <small class="text-secondary">info@softnio.com</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="body">
                    {{{body}}}

                    <div class="card">
                        <div class="card-body d-flex justify-content-between">
                            <small class="text-secondary pt-3">© 2020 DashLite. Template by Softnio</small>
                            <div class="d-flex">
                                <a href="#" class="list-group-item list-group-item-action border-0"><small>Terms</small></a>
                                <a href="#" class="list-group-item list-group-item-action border-0"><small>Privacy</small></a>
                                <a href="#" class="list-group-item list-group-item-action border-0"><small>Help</small></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>