<div class="d-flex justify-content-around">
    <div class="card3 bg-light mt-5">
        <h2>{{title}}</h2>
    </div>
    <div class="card4 cards bg-light d-flex mt-5">
        <div class="input-group input1">
            <input type="text" class="form-control" aria-label="Text input with segmented dropdown button border-dark border-0">
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary border-light border-left-0 bg-white input2">
                    <i class="fa fa-search pl-5 pt-2"></i>
                </button>
            </div>
        </div>
        <div class="select1">
            <small>
                <select name="cars" class="text-secondary border-light">
                    <option value="" selected disabled>Status</option>
                    <option value="volvo">On Hold</option>
                    <option value="saab">Delivered</option>
                    <option value="mercedes">Rejected</option>
                </select>
            </small>
        </div>
        <div class="button1">
            <!-- Button trigger modal -->
            <button type="button" class="btn " data-toggle="modal" data-target="#exampleModal">
                Post a Product
            </button>
        </div>
    </div>
</div>