<h6 class="pl-3 text-dark mt-5 ">Recent {{title}}</h6>
<table class="table table-hover bg-white">
    <thead>
        <tr>
            <th scope="col" class="check-box-width "><input type="checkbox" class=""></th>
            <th scope="col" class="border-left border-light  th-img-border"><small class="text-secondary">Name</small></th>
            <th scope="col" class="border-left border-light  box-width"><small class="text-secondary">SKU</small></th>
            <th scope="col" class="border-left border-light  box-width"><small class="text-secondary">Price</small></th>
            <th scope="col" class="border-left border-light  box-width"><small class="text-secondary">Stock</small></th>
            <th scope="col" class="border-left border-light  category-width"><small class="text-secondary">Category</small></th>
            <th scope="col" class="border-left border-light  box-width"><small class="text-secondary">Favourite</small></th>
            <th scope="col" class="border-left border-light  "><small class="text-secondary pl-5">•••</small></th>
        </tr>
    </thead>
</table>